
@{
    ViewData["Title"] = "Index";
}

<h1>You gained access!</h1>

<p>If you can see this page, then you must:</p>
<ol>
    <li>Logged in</li>
    <li>Your user must have the @PermissionParts.Permissions.DemoPermission permission,
        <br/>
        or
        <br/>
        be the SuperAdmin user who has the @PermissionParts.Permissions.AccessAll permission.</li>
</ol>

